@{
    ViewBag.Title = "Home Page";
}


    <h2>MyRecommender</h2>
    <p style ="font-size: medium">
        MyRecommender is a platform which allows online store owners to upload datasets with ratings history of their users and get meaningful recommendations for their web store.
    </p>
    <p style="font-size: medium">
        By calling the platform's web service the users can get as many recommendations as they need based on a certain customer or product id. The recommendations are served as a list of product id numbers in XML,JSON or comma separated format.
    </p>

    <h2>Why use recommendations</h2>
    <p style="font-size: medium">
        Recommendations on a website provide a more personalized experience, one that the customer has learnt to expect.<br /><br />
        <img src="~/Content/img/Recs.jpg" height="700" width="800" />
        <br /><br /> In the above screenshot the column of recommendations on the right are products similar to the one the customer is viewing.
    </p>
    <p style="font-size: medium">
        For the purposes of anonymous browsing where no customer id is available a list of top rated products can be served instead of the list of products rated highly by similar users.
        The list is created when a new dataset is uploaded by the user and is deleted alongside the dataset when the user chooses to delete the latter.
    </p>

